DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

ADMIN_USERNAME=
ADMIN_FIRSTNAME=
ADMIN_LASTNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

MEDIA_ROOT=media
MEDIA_URL=/media/